 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I'm an experimental physicist based in Boulder, Colorado, specializing in laser, plasma, and accelerator physics. I earned my PhD from CU Boulder, where I developed a laser-ionized plasma source for plasma wakefield acceleration and derived models for beam dynamics within the plasma. I thrive on tackling large, complex challenges as part of a driven, interdisciplinary team, advancing scientific understanding and technological innovation. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <div class="icons">
        <i class="icon-solidworks"></i>
        <!-- <i class="icon-kicad"></i> -->
        <i class="devicon-qt-plain"></i>
      </div>
      <p>I have designed everything from physics experiments to simulation codes, as well as optical and mechanical systems. I enjoy building models to deepen understanding and help bring a design from idea to reality. </p>
    </div>
    <div class="tech">
      <h2>Analyze</h2>
      <div class="icons">
        <i class="devicon-python-plain"></i>
        <i class="devicon-matlab-plain"></i>
        <i class="devicon-matplotlib-plain"></i>
      </div>
      <p>I believe a data-driven approach is essential for understanding complex systems. I have experience developing powerful tools to measure and analyze system performance, using that data to iterate and drive continuous improvement. </p>
    </div>
    <div class="tech">
      <h2>Communicate</h2>
      <div class="icons">
        <i class="devicon-latex-plain"></i>
        <i class="fa-solid fa-file-powerpoint"></i>
        <i class="devicon-inkscape-plain"></i>
      </div>
      <p>Effectively conveying complex results is crucial for impactful science and engineering. I present technical ideas clearly and concisely through writing, presentations, and data visualization to ensure insights are accessible and actionable. </p>
    </div>
</div>
