<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="plasma wakefield acceleration" src="{{ "/assets/img/PWFA.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Plasma Wakefield Acceleration </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>My research focuses on demonstrating a plasma wakefield accelerator that meets the demanding parameters required for a future linear collider stage. As co-PI of the E301 experiment at FACET-II, I lead the experimental campaign to achieve these goals using a laser-ionized plasma source. </p>
    <a class="project-link" href="https://iopscience.iop.org/article/10.1088/1361-6587/aaa2e3/meta">PWFA at FACET-II paper</a>
    <a class="project-link" href="https://journals.aps.org/prab/abstract/10.1103/PhysRevAccelBeams.22.041304">Beam dynamics paper 1</a>
    <a class="project-link" href="https://journals.aps.org/prresearch/abstract/10.1103/PhysRevResearch.4.043120">Beam dynamics paper 2</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="FACET-II IP" src="{{ "/assets/img/PicnicBasketInterior.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> FACET-II Interaction Point </h3>
    <!-- <ul>
      <li> Solidworks, project managment</li>
    </ul> -->
    <p>The interaction point at the end of the kilometer-long FACET accelerator accommodates multiple remotely operated physics experiments. I designed the optical, opto-mechanical, motion, and software control systems for the main experimental chamber. I then built, installed, and commissioned the hardware prior to supporting experimental campaigns that led to several publications. </p>
    <a class="project-link" href="/projects/FACET-II_InteractionPoint.html">Project details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="ultrafast laser alignment" src="{{ "/assets/img/DSHMNearFarInstallationCropped.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Ultrafast Laser Upgrades and Operation </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>The FACET S20 experimental laser was not delivering pulse parameters suitable for several experiments, including my own. I implemented diagnostics to fully characterize the laser pulse and systematically addressed performance-limiting factors. My improvements and upgrades increased laser intensity fivefold and improved uptime to 97%, enabling high-impact science across multiple experimental collaborations. </p>
    <a class="project-link" href="/projects/UltrafastLaserUpgradesAndOperation.html">Project details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="lens characterization" src="{{ "/assets/img/TandemLensCharacterization.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tandem Lens Diffractive Optics </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>A key challenge in plasma wakefield acceleration is generating a plasma with a suitable density profile. I devised a diffractive optics system that enables near-complete control over the density profile of a laser-ionized plasma. This system has been successfully used in multiple experimental campaigns. </p>
    <a class="project-link" href="/projects/TandemLensDiffractiveOptics.html">Project details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="laser ionized plasma" src="{{ "/assets/img/LaserIonizedPlasma.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Laser-Plasma Simulation Tools </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>I have developed several tools to model the nonlinear optical process of ionization with a high-power ultrafast laser. These include a Fourier optics pulse propagator, a nonlinear laser-ionized plasma simulation package based on the beam propagation method, and an implementation of the unidirectional pulse propagation equation. </p>
    <a class="project-link" href="https://github.com/rariniello/fourierProp">fourierProp</a>
    <a class="project-link" href="https://github.com/rariniello/pulseProp">pulseProp</a>
    <a class="project-link" href="https://github.com/CU-PWFA/Beam">Beam package</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="control panel" src="{{ "/assets/img/TransportControlPanelDarkCropped.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Experimental Control System </h3>
    <ul>
      <li> Qt, PyDM, control systems</li>
    </ul>
    <p>Executing a complex laser-ionized plasma wakefield experiment within a single beamtime shift requires speed and efficiency. To make this possible, I wrote a suite of tools for automating experimental procedures, along with several feedback systems to compensate for drifts. </p>
    <a class="project-link" href="/projects/ExperimentalControlSystem.html">Project details</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="CU laser lab" src="{{ "/assets/img/CULabFinalCropped.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CU Laser Lab </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>When I joined my PhD research group at the University of Colorado, the lab was an empty room. Over the course of my PhD, I helped transform it into a fully operational laser lab producing publishable data. My contributions included developing a data acquisition system, building the vacuum system, and designing laser diagnostics. </p>
    <!-- <a class="project-link" href="#">Project details</a> -->
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="FSAE car" src="{{ "/assets/img/CB4Side.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> FSAE Race Cars </h3>
    <ul>
      <li> Solidworks, FEA stress analysis</li>
    </ul>
    <p>Throughout both undergraduate and graduate school, I have been heavily involved in the Formula SAE competition, focusing on vehicle dynamics and mechanical design. At both schools, I served as chief engineer, leading the team to its best-ever performance in the design competition.  </p>
    <a class="project-link" href="https://buffsracing.com/formula-sae/">See the cars</a>
  </div>
</div>